aside {
  padding-top: 10rem;
  padding-left:1.5rem ;
  background-color: $color-sidebar;
  //background-color: red;
  top: 0px;
  position: fixed;
  bottom:0;
  width: 300px;
  z-index:-1;
  opacity: 1;
  @include responsive (desktop){
    padding: 0;
    display: initial;
    display: flex;
    justify-content: end;
    align-items: center;
    position: initial;
    width: 100%;
    margin-right: 1.5rem;
    background-color: transparent;
  }
}
/* Menu */
%menu-item{
  padding: .3rem .8rem;
  font-size: 1.9rem;
  margin: 1.5rem 0;
  cursor: pointer;
}

.logout{
  @extend %menu-item;
  list-style: none;
}
