header{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height:80px;
  background-color: transparent;
  opacity: .97;
  z-index:10;

  @include d-flex(row);
  justify-content: space-between;
  align-items: center;
  @include responsive(desktopxl){
    border-bottom: 0;
    padding: 0 8rem;
  }
}
.header__logo{
  width: 100%;
  padding-left:1.5rem ;
  display: flex ;
  align-items: center;
h5{
  span{
    font-size: 5rem;
    color:$color-purple;
  }
}
}

.is-sticky {
  background-color: $color-primary;
  transition: .2s ease-in-out;
}