header{
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height:80px;
  //border-bottom: 2px solid rgba(107, 107, 107, 0.15);
  background-color: #343434;
  z-index:10;
  @include d-flex(row);
  justify-content: space-between;
  align-items: center;
  @include responsive(desktop){
    border-bottom: 0;

  }
}
.header__logo{
  width: 100%;
  padding-left:1.5rem ;
  display: flex ;
  align-items: center;
  @include responsive(desktop){
    border-right: 1px solid rgba(107, 107, 107, 0.15);
  }
  h1{
    margin: 0 10px;
    font-size: 3rem;
    text-transform: uppercase;
  }
  i{
    padding: 0 .8rem;
    font-size: 3.3rem;
    color:$color-orange;
  }
}