header{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 50px;
  border-bottom: 2px solid rgba(107, 107, 107, 0.15);
  background-color: $color-sidebar;
  @include d-flex(row);
  justify-content: space-between;
  align-items: center;
  @include responsive(desktop){
    border-bottom: 0;
  }
}
.header__logo{
  width: 300px;
  padding-left:1.5rem ;
  @include responsive(desktop){
    border-right: 1px solid rgba(107, 107, 107, 0.15);
  }
  h1{
    margin: 0 10px;
    font-size: 1.6rem;
    text-transform: uppercase;
    i{
      padding: 0 .8rem;
      font-size: 1.8rem;
      color:rgb(247, 81, 81);
    }
  }
}