nav {
  padding-top: 10rem;
  padding-left: 1.3rem;
  background-color: $color-sidebar;
  top: 0px;
  position: fixed;
  bottom: 0;
  width: 300px;
  z-index: -1;
  opacity: 1;

  @include responsive(desktop) {
    padding: 0;
    justify-content: flex-end;
    align-items: center;
    position: initial;
    width: 100%;
    margin-right: 1.8rem;
    background-color: transparent;
  }
}

.nav {
  &-close {
    transform: translateX(-100%);
    @extend %nav;
    @include responsive(desktop) {
      transform: translateX(0);
    }
  }

  &-open {
    @extend %nav;
    display: block;
  }
}

%nav {
  @include responsive(desktop) {
    display: flex;
    animation: none;
  }
}

/* Menu */
%menu-item {
  padding: 0.3rem 0.8rem;
  font-size: 1.9rem;
  margin: 1.5rem 0;
  cursor: pointer;
  @include responsive(desktop) {
    margin-left: 1.5rem;
  }
}

.logout {
  @extend %menu-item;
  list-style: none;
}

.user-name {
  @extend %menu-item;
  font-size: 1.7rem;
}

@keyframes slideout {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(-100);
  }
}
