.sidebar{
position: relative;
width: 100%;
text-align: center;
grid-column: 2/3;
grid-row: 1;

@include responsive(tablet){
  top: 100px;
}

  h2{
    padding: 10px 0;
    border-radius: 8px;
    background-color: $color-bg-title;
    color:$color-sidebar-title;
  }
}