/*--Estilos Base - por defecto */

*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
  font-family: $font-main;
  color:$color-white;
}
ul {
  margin:0;
  padding: 0;
}
ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li a {
  text-decoration: none;
}
h1,h2,h3,p{
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1.4rem /* 16px */;
  line-height: 1.5;
  background-color: $color-primary;
}


.container-app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  min-width: 300px;
  @include responsive (desktop){
    flex-direction: row;
  }
}
main{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

}
.main{
  width: 100%;
  margin-top: 100px;
  padding:0 20px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
  box-sizing: border-box;
  @include d-flex(col);

  @include responsive (tablet){
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: repeat(4,auto);
    column-gap: 2rem;
  }
}

.wraper-sections{
  grid-column: 1/1;
  max-width: 680px;
  margin: 0 auto;
  @include responsive (desktop){
    max-width: 100%;
  }
  @include responsive(desktopxl){
    max-width: 1200px;
  }
}

.bg-layout{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  display: none;
  background-color: rgba(0,0,0,.75);
  &-active{
    display: block;
  }
  @include responsive(desktop){
    display: none;
  }
}

