%button{
  display: block;
  padding: 10px;
  width: 150px;
  font-size: 1.7rem;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: .8px;
  border-radius: 8px;
  transition: background-color .3s ease;
  cursor: pointer;
}

.btn{
  @extend %button;
  &-primary{
    background-color: $color-blue-light;
    &:hover{
      background-color: lighten($color: $color-blue-light, $amount: 2);
    }
  }
}


.block{
  @extend %button;
  width: 100%;
}


.btn-menu{
  border:none;
  outline: none;
  height: 30px;
  margin-right: 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  @include responsive(desktop){
    display: none;
  }
  i{
    color:$color-white
  }
}

.btn-search{
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  i{
    color:$color-white
  }
}
