/* Card Hero */

.card-hero{
  position: relative;
  width: 100%;
  border-radius: 10px;
}
.card__hero{
    &-img{
      width: 100%;
      border-radius: 10px;
    }
    &-info{

      position: absolute;
      margin-left: 25px;
      bottom:45%;
      h2{
        font-size: 3rem;
        font-weight: 400;
        text-transform: uppercase;
        @include responsive(tablet){
          font-size: 4.5rem;
        }
      }
      p{
        font-size: 1.6rem;
        margin-left: 1rem;
        font-weight: 300;
        @include responsive(tablet){
          font-size: 2.5rem;
        }
      }
    }
}

/* Card Para Peliculas */
.card__movie{
  border-radius: 8px;
  width: 100%;
  @include d-flex(col);
  position: relative;
  &-body{
    position: relative;
    img{
      height: 100%;
      max-width: 100%;
      margin: 0 auto;
      border-radius: 8px;
      display: block;
    }
    &-pills{
      width: 100%;
      position: absolute;
      height: 30px;
      right: 0;
      left: 0;
      bottom:7px;
      padding: 0 5px;

      @include d-flex(row);
      justify-content: space-between;

    }

  }
  &-title {
    h3{
    text-align: center;
      font-size: 1.8rem;
      font-weight: 300;
    }
  }

}