
$size-xxl:1200px;
$size-xl:1000px;
$size-md:768px;
$size-sm:375px;

$font-main :'Oswald',sans-serif;

/* Paleta de Colores */

$color-primary:#191b1f;
$color-white:#d1d1d1;
$color-blue-light:#5149dd;
$color-sidebar:#191b1f;
