
$size-xxl:1440px;
$size-xl:1000px;
$size-md:768px;
$size-sm:320px;

$font-main :'Oswald',sans-serif;

/* Paleta de Colores */

$color-primary:#060e28;
$color-white:#d1d1d1;

$color-sidebar:#020b26;
$color-orange:#d03026;
$color-yellow:#9d7e1d;
$color-blue-light:#08b3e5;
$color-bg-title:#1e2747;
$color-sidebar-title:#6c92cc;

$gradient-brand:-webkit-linear-gradient(#17459c, $color-blue-light);
