.input-search{
width: 300px;
@include d-flex(row);
  border:1px solid gray ;
  border-radius: 5px;
  justify-content: space-evenly;
}


.search{
  display: block;
  padding: .5rem 0;
  width: 250px;
  line-height: calc(2rem - 2px);
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.9rem;
  font-family: 'Oswald';
  color:$color-white;

  @include responsive (desktop){
    margin: 0 1.5rem;
  }
}