
@mixin responsive ($breakpoint) {

  @if $breakpoint==desktopxl {
    @media only screen and (min-width: $size-xxl) {
      @content;
    }
  }

  @if $breakpoint==desktop {
    @media only screen and (min-width: $size-xl) {
      @content;
    }
  }

  @if $breakpoint==tablet {
    @media only screen and (min-width:$size-md) {
      @content;
    }
  }

  @if $breakpoint==mobile {
    @media only screen and (min-width: $size-sm) {
      @content;
    }
  }
}

@mixin d-flex ($direction){
  display: flex;
  flex-wrap: nowrap;
  @if $direction==col{
    flex-direction: column;
  }
}


@mixin heigth-carousel(){
  @include responsive(mobile){
    height: 450px;
  }
  @include responsive(tablet){
    height: 500px;
  }
  @include responsive(desktop){
    height: 550px;
  }
  @include responsive(desktopxl){
    height: 600px;
  }
}