
@mixin responsive ($breakpoint) {

  @if $breakpoint==desktopxl {
    @media only screen and (min-width: $size-xxl) {
      @content;
    }
  }

  @if $breakpoint==desktopx {
    @media only screen and (min-width: $size-xl) {
      @content;
    }
  }


  @if $breakpoint==desktop {
    @media only screen and (min-width: $size-lg) {
      @content;
    }
  }

  @if $breakpoint==tablet {
    @media only screen and (min-width:$size-md) {
      @content;
    }
  }

  @if $breakpoint==mobile {
    @media only screen and (min-width: 320px) {
      @content;
    }
  }
}

@mixin d-flex ($direction){
  display: flex;
  flex-wrap: nowrap;
  @if $direction==col{
    flex-direction: column;
  }
}


@mixin heigth-carousel(){
  height: 450px;
  @include responsive(tablet){
    height: 500px;
  }
  @include responsive(desktop){
    height: 550px;
  }
  @include responsive(desktopxl){
    height: 600px;
  }
}



@mixin font-size-heading () {
  @for $i from 1 through 6 {
    h#{$i} {
      font-size: $base-font-size + $heading-scale * (6 - $i);
      @include responsive(tablet){
        font-size: $base-font-size + 10 * (6 - $i);;
      }
      @include responsive(desktop){
        font-size: $base-font-size + 12 * (6 - $i);;
      }

      @include responsive(desktopx){
        font-size: $base-font-size + 14 * (6 - $i);;
      }
    }
  }
}

@mixin carousel-info () {
  $base-font-size : .8rem;
  $heading-scale: 0.8;
  font-size: $base-font-size + $heading-scale ;
  @include responsive(tablet){
    $heading-scale: 1;
    font-size: $base-font-size + $heading-scale ;
  }
  @include responsive(desktop){
    $heading-scale: 1.2;
    font-size: $base-font-size + $heading-scale ;
  }
  @include responsive(desktopx){
    $heading-scale: 1.4;
    font-size: $base-font-size + $heading-scale ;
  }

}