.carousel__container{
  position: relative;
  width: 100%;
  @include heigth-carousel;
  top:75px;
  @include d-flex(row);
  flex-wrap: nowrap;
  overflow: auto;
  &__item{
    @include heigth-carousel;
  }
}
.carousel__container-img{
  float: left;
  width: 100%;
  margin-right: -100%;
}
.carousel__img{
  width: 100%;
  @include heigth-carousel;
  object-fit: cover;
  vertical-align: middle;
  border-style: none;

}

.carousel__items-container{
  @include d-flex(row);
}

.bg-carousel{
  position: absolute;
  width: 100%;
  @include heigth-carousel;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: linear-gradient(to bottom,transparent 0%,rgba(4,11,19,0.25) 44%,#020a25 100%);
}

.control-dots{
  z-index: 99;
}
.carousel-root{
  width: 100%;
}