/* GLOBALS */
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1.4rem /* 16px */;
  line-height: 1.5;
  font-family: "PT Sans", sans-serif;
}

/* APP - ASIDE - HEADER */
.container-app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  min-width: 300px;
}

aside {
  background-color: rgb(209, 206, 206);
}

@media (min-width: 900px) {
  .container-app {
    flex-direction: row;
  }

  aside {
    flex: 0 0 500px;
  }
}
